@charset "UTF-8";

.supporter {
  &__base {
    width: 100%;
    height: 100px;
    text-align: center;
  }
  &__link {
    display: block;
    padding-top: 30px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #cc0000;
  }
}

// notification styles
.notification {
  &__base {
    text-align: center;
    width: 600px;
    margin: 0 auto;
  }
  &__txt {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &--supporter {
      color: #33cc33;
    }

    &--oops {
      color: #cc0000;
    }
  }
}
